h1{color: green;
  font-family: fantasy !important;
  font-size: 45px;
  text-align: center;
}
h2{color: red;
  text-align: center;
  text-decoration: underline;
}
img{
  float: center !important;
  border-style: solid;
  border-radius: 50px;
  border-color: green;
  border-width: 20px;
}
body{
  background: purple !important;
}
.list{
  text-align: center !important;
  color: green !important;  
  font-size: 20px;
}
ol{
  text-align: center
}
