h1{color: green;
  font-family: fantasy !important;
  font-size: 45px;
  text-align: center;
}
h2{color: red;
  text-align: center;
  text-decoration: underline;
}
img{
  float: center;
  border-style: dotted;
  border-radius: 20px;
  border-color: green;
  border-width: 10px;
}
body{
  background: purple !important;
}
ul{
  float: center;
  color: green;
  font-size: 10px;
}
