h2{color:red;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
}
h1{color: green;
  font-family: fantasy !important;
  font-size: 45px;
  text-align: center;
}
h2{color: red;
  text-align: center;
  text-decoration: underline;
}
p{color: blue;
  text-align: center;
  font-family: serif;
  font-size: 20px;
}
img{
  display: block;
  margin:  0 auto;
  border-style: solid;
  border-radius: 70px;
  border-color: green;
  border-width: 20px;
  width: 350px;
}
body{
  background: purple !important;
}
.list{text-align: center !important;
  color: green !important;  
  font-size: 20px;
}
ul.navigationbar{
    list-style-type: none !important;
    /*margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;*/
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.listheader {text-align: center;
  text-decoration: underline;
  font-family: fantasy !important;
  font-size: 40px;
}
.list2 {text-align: center;
  /*font-family: serif;
  font-size: 20px;
  background-color: purple; */
  color: green;
}
.hobbies{
  text-align: center;
}
ol#horizontal-list{
  /*min-width:700px;
  list-style: none;
  background-color: purple;
  padding-top: 20px; */
}
ol#horizontal-list li{display:inline;
}
.table{display:table;
  margin: 0 auto;
}
table{display:block;
  margin: 0 auto;
  border-width: 5px;
  border-style: solid;
  border-color: green;
}
